:host {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  @media only screen and (orientation: landscape) {
    width: 100%;
  }

  @media only screen and (orientation: portrait) {
    height: 100%;
  }
}

span {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: small;

  .OUT {
    color: rgb(250, 250, 250);
  }

  .ERR {
    color: rgb(250, 0, 0);
  }

  .SYS {
    color: rgb(0, 250, 0);
  }
}

