<form #form="ngForm" (ngSubmit)="createApplication(form.value)">

  <div>
    <label for="applicationName">Name</label>
    <input name="applicationName" id="applicationName" ngModel/>
  </div>

  <div>
    <label for="workingDirectory">Working Directory</label>
    <input name="workingDirectory" id="workingDirectory" ngModel/>
  </div>

  <div>
    <label for="command">Command</label>
    <input name="command" id="command" ngModel/>
  </div>

  <div>
    <label for="debugCommand">Debug Command</label>
    <input name="debugCommand" id="debugCommand" ngModel/>
  </div>

  <div class="confirmationButtons">
    <button type="submit" [disabled]="blocked">
      <img id="createButton" src="/assets/img/icon_check.svg" alt="">
    </button>

    <button type="button" [disabled]="blocked" (click)="navigateToDashboard()">
      <img id="leaveButton" src="/assets/img/icon_x.svg" alt="">
    </button>
  </div>
</form>
