<form id="setup">
  <div class="inputContainer">
    <img class="inputImage" src="/assets/img/icon_user_transparent.svg"/>
    <input class="input" name="username" title="Username" [(ngModel)]="newUser.username"/>
  </div>
  <div class="inputContainer">
    <img class="inputImage" src="/assets/img/icon_password_transparent.svg"/>
    <input class="input" name="password" title="Password" type="password" [(ngModel)]="newUser.password"/>
  </div>
  <div class="inputContainer">
    <img class="inputImage" src="/assets/img/icon_password_transparent.svg"/>
    <input class="input" name="passwordConfirm" title="Confirm Password" type="password" [(ngModel)]="newUser.passwordConfirm"/>
  </div>
  <img id="setupButton" (click)="setup()" src="/assets/img/icon_login_transparent.svg">
</form>
