<form id="login">
  <div class="inputContainer">
    <img class="inputImage" src="/assets/img/icon_user_transparant.svg"/>
    <input class="input" name="username" title="Username" [(ngModel)]="credentials.username"/>
  </div>
  <div class="inputContainer">
    <img class="inputImage" src="/assets/img/icon_password_transparant.svg"/>
    <input class="input" name="password" title="Password" type="password" [(ngModel)]="credentials.password"/>
  </div>
  <img id="loginButton" (click)="login()" src="/assets/img/icon_login_transparant.svg">
</form>
