@media only screen and (orientation: landscape) {
    body {
        grid-template: 1fr 0/ 0fr 1fr;
        grid-template-areas: "controlArea contentArea";
    }

    nav {
        flex-direction: column;
    }

    .endButton {
        margin-top: auto;
    }
}

@media only screen and (orientation: portrait) {
    body {
        grid-template: 0fr 1fr / 1fr 0;
        grid-template-areas: "controlArea" "contentArea";
    }

    nav {
        flex-direction: row;
    }

    .endButton {
        margin-left: auto;
    }
}

body {
    margin: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
}

/* Buttons and actions */
nav {
    display: flex;
    background: rgb(33, 33, 33);
}

/* Applications layout */
#applicationsContainer {
    grid-area: contentArea;

    overflow-y: scroll;
    flex-direction: column;

    background: rgb(7, 54, 66);
}

#applicationsContainer {
    flex: 0;
    padding: 2em;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#applications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#addButton {
    background-color: hsl(0, 0%, 13%);
}

.buttonBlock {
    width: 10em;
    height: 10em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: rgba(255, 255, 255, 0) 2px solid;
    cursor: pointer;
    display: flex;
    align-items: flex-end;

    background-size: 7.5em;
    background: no-repeat center;
}

.applicationText {
    font-family: "Segoe UI", sans-serif;
    color: rgb(250, 250, 250);
    font-size: 0.8em;
}

.blockIcon {
    position: center;
}

.buttonBlock:hover {
    border: rgba(255, 255, 255, 0.50) 2px solid;
}