body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* Buttons and actions */
#control {
    flex: 1;
    display: flex;
    flex-direction: column;

    background: rgb(33, 33, 33);
}

.controlButton {
}

.controlButton:hover {
    background: rgba(255, 255, 255, 0.1);
}

.controlButton:hover .altButtonActive {
    background: rgba(255, 0, 0, 0.1);
}

.endButton {
    margin-top: auto;
}

/* Console layout */
#console {
    flex: 99;
    overflow-y: scroll;
    flex-direction: column;
    height: 100vh;

    background: rgb(7, 54, 66);
}

#logOuput {
    padding-top: 0.5em;
    padding-left: 0.5em;
}

#command {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    flex: auto;
    display: flex;

    color: rgb(0, 250, 0);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;
}

#commandInput {
    flex: auto;

    border: none;
    background: rgb(7, 54, 66);
    outline: none;

    color: rgb(0, 250, 0);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;
}

/* Console output */
.line {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;
}

.line.OUT {
    color: rgb(250, 250, 250);
}

.line.ERR {
    color: rgb(250, 0, 0);
}

.line.SYS{
    color: rgb(0, 250, 0);
}