body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#control {
    display: flex;
    justify-content: space-around;
    flex: auto;
}

#logOuput {
    padding-left: 1em;
    flex: 80;
    overflow: scroll;
    background: rgb(33, 33, 33);
}

.line {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;
}

.line.OUT {
    color: rgb(250, 250, 250);
}

.line.ERR {
    color: rgb(250, 0, 0);
}

.line.SYS{
    color: rgb(0, 250, 0);
}

#command {
    display: flex;
    flex-direction: row;
    flex: auto;
}

#commandInput {
    flex: 90;
}