<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script>var errors = '${errors}'</script>
    <link rel="stylesheet" type="text/css" href="/css/setup.css">
    <script src="/js/setup.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebConsole | Setup</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body onload="onLoad()">
<form id="setup" action="/setup" method="post" name="UserDetails">
    <div class="inputContainer">
        <img class="inputImage" src="/img/icon_user_transparant.svg"/>
        <input id="usernameInput" class="input" name="username"/>
        <span id="usernameEmptyError" class="inputError">Username can not be empty</span>
    </div>
    <div class="inputContainer">
        <img class="inputImage" src="/img/icon_password_transparant.svg"/>
        <input id="passwordInput" class="input" name="password" type="password"/>
        <span id="passwordEmptyError" class="inputError">Password can not be empty</span>
    </div>
    <div class="inputContainer">
        <img class="inputImage" src="/img/icon_password_transparant.svg"/>
        <input id="passwordConfirmInput" class="input" name="newPassword" type="password"/>
        <span id="passwordNotEqualError" class="inputError">Passwords do no match</span>
    </div>
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
    <img id="createButton" onclick="submit()" src="/img/icon_user_create.svg">
</form>
</body>
</html>