<!--The content below is only a placeholder and can be replaced.-->


<h1>{{data.Questions.mainQuestion}}</h1>

<table>
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let answer of data.Questions.answers">{{answer}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let question of data.Questions.sideQuestions">
    <td>{{question}}</td>
    <td *ngFor="let answer of data.Questions.answers" (click)="click(answer, question)"><input type="radio" name="{{question}}"></td>

  </tr>
  </tbody>
</table>

