:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: rgb(7, 54, 66);
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#invalidCredentialsMessage {
  display: none;
  padding: 0.5em 3em;

  position: absolute;
  top: 0em;
  background-color: rgba(255, 0, 0, 0.4);

  font-family: "Segoe UI", sans-serif;
  color: rgb(250, 250, 250);
  font-size: 2em;

  border: 0.1em solid rgba(255, 0, 0, 0.5);
}

.inputContainer {
  display: flex;
}

.inputImage {
  position: absolute;
  transform: translate(-4em)
}

.input {
  margin: 0.5em;
  padding: 0.5em;

  border: none;
  background: rgba(0, 0, 0, 0.21);
  outline: none;

  color: rgb(0, 250, 0);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.5em;
}

#loginButton {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: rgba(255, 255, 255, 0) 2px solid;
  cursor: pointer;
  background: rgba(0,0,0, 0.8) no-repeat center;
}


#loginButton:hover {
  border: rgba(255, 255, 255, 0.50) 2px solid;
  background: rgba(0,0,0, 1) no-repeat center;
}
