<form #form="ngForm" (ngSubmit)="login(form.value)" id="login">
  <label>
    <img src="/assets/img/icon_user_transparent.svg" alt=""/>
    <input class="input" name="username" title="Username" ngModel/>
  </label>
  <label>
    <img src="/assets/img/icon_password_transparent.svg" alt=""/>
    <input class="input" name="password" title="Password" type="password" ngModel/>
  </label>
  <button type="submit">
    <img id="loginButton" src="/assets/img/icon_login_transparent.svg" alt="">
  </button>
</form>
